html, body {
  height: 100%;
}

#page1 {
  background-color: #000;
  transition: all .5s ease-in-out 0s;
}
#page1 .title {
  position: relative;
  margin-bottom: .65rem;
  margin-top: .3rem;
  padding-left: .35rem;
  padding-right: .35rem;
}
#page1 .title .title-line {
  border-bottom: .05rem dashed #FF2408;
}
#page1 .title .title-name {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #FF2408;
  font-size: .58rem;
  width: 2.6rem;
  text-align: center;
  background-color: #000;
  transform: translate(-50%, -50%);
}
#page1 .u-body {
  position: relative;
  height: 16.86rem;
  background: url(../../img/bg1_2.jpg?v=1.1) center no-repeat;
  background-size: cover;
}
#page1 .u-body .btn-play {
  position: absolute;
  top: 8.2rem;
  left: 3.35rem;
  width: 3.5rem;
  height: 2.4rem;
  opacity: 0;
  background-color: #000;
}
#page1 .u-body .user-list {
  position: absolute;
  top: 12.25rem;
  left: 1.22rem;
  right: 1.22rem;
}
#page1 .u-body .user-list li {
  position: relative;
  padding-left: 1.52rem;
  padding-right: 5rem;
  height: 1.12rem;
  line-height: 1.12rem;
  margin-bottom: .25rem;
  font-size: .42rem;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#page1 .u-body .user-list .user-icon {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1.12rem;
  height: 1.12rem;
  transform: translateY(-50%);
}
#page1 .u-body .user-list .user-prize {
  position: absolute;
  right: 0;
  top: .26rem;
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .38rem;
  color: #fff;
  letter-spacing: .025rem;
  line-height: 1;
  text-align: right;
}
#page1 .u-body .user-list .user-prize span {
  color: #ffcf4f;
  margin-left: .22rem;
}
#page1 .u-body .user-list .create-time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .26rem;
  color: #fff;
  line-height: 1;
}
#page1 .u-footer {
  background-color: #000;
  padding-left: .35rem;
  padding-right: .35rem;
  line-height: 1.563;
  color: #589D72;
  font-size: .4rem;
  padding-bottom: .4rem;
}

#page2 {
  display: none;
  background-color: #FF2408;
  transition: all .5s ease-in-out 0s;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#page2 {
  height: 17.35rem;
  background: url(../../img/bg2_2.jpg?v=1.1) center no-repeat;
  background-size: cover;
}
#page2 .shake-img {
  margin-top: 4rem;
  margin-left: 3.4rem;
  width: 4rem;
  height: 5.65rem;
}
#page2 .shake-img.animate {
  animation-fill-mode: both;
  animation: shake 1s 0s ease-in-out infinite;
}
#page2 .lottery-tip {
  padding-top: 1.75rem;
  text-align: center;
  font-size: .56rem;
  color: #fff;
}
#page2 .lottery-tip span {
  position: relative;
  top: .1rem;
  font-size: 1rem;
  margin-left: .32rem;
  margin-right: .32rem;
  color: #ffdc44;
  font-weight: bolder;
}
#page2 .title {
  position: relative;
  margin-top: 1.25rem;
  padding-left: .35rem;
  padding-right: .35rem;
}
#page2 .title .title-line {
  border-bottom: .05rem dashed #FF2408;
}
#page2 .title .title-name {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #FF2408;
  font-size: .58rem;
  width: 6.8rem;
  text-align: center;
  background-color: #000;
  transform: translate(-50%, -50%);
}
#page2 .user-name {
  text-align: center;
  color: #fff;
  font-size: .7rem;
  padding-top: .88rem;
  padding-bottom: .5rem;
}

#page3 {
  display: none;
  transition: all .5s ease-in-out 0s;
  padding-top: 1.1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  height: 17.35rem;
  background: url(../../img/bg3.jpg?v=1.1) center no-repeat;
  background-size: cover;
}
#page3 .prize-info {
  position: relative;
  height: 4.17rem;
  width: 100%;
  margin-bottom: .38rem;
  background: url(../../img/prize_2.png) center no-repeat;
  background-size: cover;
  padding-left: 1.58rem;
  padding-right: 3.8rem;
  text-align: center;
}
#page3 .prize-info .cut-image {
  position: absolute;
  right: .8rem;
  top: .1rem;
  width: 2.22rem;
  height: 3.9rem;
  background: center no-repeat;
  background-size: cover;
}
#page3 .prize-info .user-icon {
  width: 1.1rem;
  height: 1.1rem;
  margin-top: .35rem;
}
#page3 .prize-info .prize-title {
  margin-top: .42rem;
  font-size: .38rem;
  color: #666;
  letter-spacing: .05rem;
}
#page3 .prize-info .prize-name {
  font-size: .42rem;
  color: #f60;
  margin-top: .3rem;
}
#page3 .prize-tip {
  width: 8.54rem;
  height: .64rem;
  line-height: .64rem;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: .36rem;
  color: #fff;
  margin-bottom: 1.05rem;
  border: 1px dashed #FF2408;
  color: #FF2408;
}
#page3 .title {
  position: relative;
  margin-bottom: .72rem;
}
#page3 .title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4rem;
  border-bottom: 1px dashed #FF2408;
}
#page3 .title:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;
  border-bottom: 1px dashed #FF2408;
}
#page3 .title .title-name {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #FF2408;
  font-size: .58rem;
  width: 2.6rem;
  text-align: center;
  transform: translate(-50%, -50%);
}
#page3 .item-list {
  margin-bottom: .75rem;
  padding-top: .7rem;
}
#page3 .item-list li {
  position: relative;
  padding-left: 2.3rem;
  padding-right: 5rem;
  height: 1.1rem;
  line-height: 1.1rem;
  font-size: .46rem;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: .35rem;
}
#page3 .item-list li .user-icon {
  position: absolute;
  left: .8rem;
  top: 50%;
  width: 1.1rem;
  height: 1.1rem;
  transform: translateY(-50%);
}
#page3 .item-list li .user-prize {
  position: absolute;
  right: .8rem;
  top: .26rem;
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .4rem;
  letter-spacing: .02rem;
  line-height: 1;
  text-align: right;
}
#page3 .item-list li .user-prize span {
  color: #ffcf4f;
  margin-left: .22rem;
}
#page3 .item-list li .create-time {
  position: absolute;
  bottom: 0;
  right: .8rem;
  font-size: .3rem;
  line-height: 1;
}
#page3 .u-footer {
  padding: .65rem .35rem .4rem;
  line-height: 1.563;
  color: #fff;
  font-size: .4rem;
}
